@font-face {
   font-family: 'SegoeUI';
   src: url('../fonts/SegoeUI.eot');
   src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI.woff') format('woff'),
       url('../fonts/SegoeUI.ttf') format('truetype'),
       url('../fonts/SegoeUI.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: 'SegoeUI-Light';
   src: url('../fonts/SegoeUI-Light.eot');
   src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Light';
  src: url('../fonts/SegoeUI-Light.woff') format('woff'),
       url('../fonts/SegoeUI-Light.ttf') format('truetype'),
       url('../fonts/SegoeUI-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: 'SegoeUI-Bold';
   src: url('../fonts/SegoeUI-Bold.eot');
   src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Bold';
  src: url('../fonts/SegoeUI-Bold.woff') format('woff'),
       url('../fonts/SegoeUI-Bold.ttf') format('truetype'),
       url('../fonts/SegoeUI-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

div.header {
    width: 100%;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background-color: #ffffff;
    border-bottom: solid 1px #e6e6e6;
}

div.title-side-by-side {
    display: block;
    text-align: center;
    margin-top: 90px;
}

div.title-logo {
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

div.title-description {
    width: 450px;
    display: inline-block;
}

div.title-logo-image {
    background-image: url(../images/ShakhYab-logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 353px;
    margin: 50px auto auto auto;
}

h1.title {
    font-family: 'SegoeUI-bold';
    font-size: 22pt;
    font-weight: bold;
    color: black;
    text-align: left;
    padding: 40px 40px 0px 40px;
    margin: 0;
}

h2.sub-title {
    font-family: 'SegoeUI';
    font-size: 13pt;
    font-weight: normal;
    color: black;
    text-align: justify;
    padding: 0px 40px 0px 40px;
    margin: 0;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #eee radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
}

.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}

a.button-circle-black {
    display: inline-block;
    margin: 5px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 100px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}