@font-face {
   font-family: 'SegoeUI';
   src: url('../fonts/SegoeUI.eot');
   src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI.woff') format('woff'),
       url('../fonts/SegoeUI.ttf') format('truetype'),
       url('../fonts/SegoeUI.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: 'SegoeUI-Light';
   src: url('../fonts/SegoeUI-Light.eot');
   src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Light';
  src: url('../fonts/SegoeUI-Light.woff') format('woff'),
       url('../fonts/SegoeUI-Light.ttf') format('truetype'),
       url('../fonts/SegoeUI-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: 'SegoeUI-Bold';
   src: url('../fonts/SegoeUI-Bold.eot');
   src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Bold';
  src: url('../fonts/SegoeUI-Bold.woff') format('woff'),
       url('../fonts/SegoeUI-Bold.ttf') format('truetype'),
       url('../fonts/SegoeUI-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

div.header {
    width: 100%;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    display: flex;
    background-color: #ffffff;
    border-bottom: solid 1px #e6e6e6;
}

a.header-logo {
    display: flex;
    margin: 0px;
}

a.header-logo:hover {
    cursor: pointer;
}

div.header-logo-image {
    background-image: url(../images/logo-shakhyab.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 53px;
    height: 55px;
    margin: auto 0px;
}

div.header-logo-name-image {
    background-image: url(../images/logo-shakhyab.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 28px;
    margin: auto 0px;
}

div.title-side-by-side {
    display: block;
    text-align: center;
    margin-top: 90px;
}

div.title-logo {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    padding: 0px 0px 0px 40px;
}

div.title-description {
    width: 450px;
    display: inline-block;
}

div.title-logo-image {
    background-image: url(../images/logo-shakhyab.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 353px;
    margin: 50px auto auto auto;
}

h1.title {
    font-family: 'SegoeUI-bold';
    font-size: 22pt;
    font-weight: bold;
    color: black;
    text-align: left;
    padding: 40px 40px 0px 40px;
    margin: 0;
}

h2.sub-title {
    font-family: 'SegoeUI';
    font-size: 13pt;
    font-weight: normal;
    color: black;
    text-align: justify;
    padding: 0px 40px 0px 40px;
    margin: 0;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #eee radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
}

.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}

a.button-circle-black {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 100px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}


a.button-circle-black:hover span {
  bottom: 55px;
  visibility: visible;
  opacity: 1;
}

span.tooltip {
    background: rgba(0, 0, 0, 0.78);
    color: #fff;
    font-family: 'SegoeUI-light';
    font-size: 14px;
    font-weight: lighter;
    position:  absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px 7px;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

span.tooltip:before {
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.78);
  position: absolute;
  bottom: -5px;
  left: 40px;
}

div.container {
    background: #fff;
    border: 1px solid #e6e6e6;
    width: 450px;
    margin: auto;
}

p.normal-text {
    font-family: 'SegoeUI';
    font-size: 11pt;
    font-weight: normal;
    color: black;
    text-align: justify;
    padding: 0px 40px 0px 40px;
    margin: 0;
}

.text-box {
    width: calc(100% - 90px);
    outline: 0;
    color: black;
    padding: 5px 5px;
    border: 1px solid #ccc;
    text-align:left;
    font-family: 'SegoeUI-Light';
    font-size:11pt;
    font-weight:lighter;
    text-decoration:none;
    margin-bottom: 15px;
}

.button-start {
    margin: 5px;
    width: calc(100% - 80px);
    height: 35px;
    background-color: #000;
    color: white;
    border: none;
    font-family: 'SegoeUI-bold';
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 1px 0px 1px 23px;
    background-repeat: no-repeat;
    background-position: calc(50% - 30px) center;
    background-image: url(../images/image-start.svg);
    background-size: 25px;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    transition: background .4s;
}

.button-start:hover {
    background-color: #333;
}

.button-white {
    margin: auto 7px;
    width: auto;
    height: 35px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: black;
    font-family: 'SegoeUI-bold';
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 1px 23px;
    outline: none;
    cursor: pointer;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    transition: background .4s;
}

a.hyper-link {
    font-family: 'SegoeUI';
    font-size: 11pt;
    font-weight: normal;
    color: #000;
    text-align: left;
    margin: 0;
}

a.hyper-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.splitter {
    width: calc(100% - 200px);
    margin: 50px auto auto auto;
    border-bottom: 1px solid #e6e6e6;
}

div.footer {
    display: block;
    margin-bottom: 25px;
    text-align: center;
}

div.footer-inner {
    display: inline-block;
    margin: 25px 0px 0px 0px;
}

div.login-profile-image {
    width: 150px;
    height: 150px;
    margin: 40px auto 0px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    border: solid 1px #e6e6e6;
}

p.normal-title {
    font-family: 'SegoeUI-Light';
    font-size: 22pt;
    font-weight: lighter;
    color: black;
    text-align: left;
    padding: 0px 40px 0px 40px;
    margin: 0;
}

div.shakh-list-container {
    width: 100%;
    height: auto;
    display: block;
}

div.shakh-each-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    width: 250px;
    margin: 5px;
    display: inline-block;
}

div.shakh-profile-image {
    width: 100px;
    height: 100px;
    margin: auto auto 5px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    border: solid 1px #e6e6e6;
}

div.menu-top-bar {
    width: auto;
    display: flex;
    text-align: center;
    margin-left: 70px;
}

a.button-menu {
    width: auto;
    height: 60px;
    display: flex;
    margin: 0px 15px;
    justify-content: center;
    border-color: #000;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

a.button-menu:hover {
    height: 57px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    cursor: pointer;
}

p.text-menu {
    width: auto;
    font-family: 'SegoeUI';
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    margin: auto 0px;
    color: #000;
}

div.menu-bottom-bar {
    width: 100%;
    height: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
    background-color: #ffffff;
    border-top: solid 1px #e6e6e6;
}

@media screen and (max-width: 940px) {
    p.text-menu {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    div.menu-top-bar {
        display: none;
    }

    div.menu-bottom-bar {
        display: flex;
    }

    div.footer {
        margin-bottom: 85px;
    }

    a.button-circle-black {
        display: none;
    }
}